<div class="container">
  <div class="row">
    <% @plats.each do |plat| %>
    <h2><%= link_to plat.title.capitalize,plat %></h2>
    <%= link_to (image_tag plat.image.url(:small)), plat%>
    <% end %><br/>

    <h3><%= link_to " Ajouter un plat", new_plat_path %></h3>
  </div>
</div>
