
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default
{
    background-color: transparent;
    
}
.navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: 400;
}


.navbar-default .navbar-nav > li > a
{
    color: black;
    font-weight: bold;
    font-size: 24px
}

header
{

  text-align: center;
  background-image: url(/plat.jpg);
  height: 550px;
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
  /*opacity: 0.8;*/
  filter: alpha(opacity=50);

}
img
{
  width: 100%!important;
}
h3.title_plat
{
  color: red;
  font-size: 28px;
}

#add_plat
{
  margin-top: 150px;
}
h2.slogan
{
  font-size: 50px;
}
