
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default
{
    background-color: transparent;
    border-color: transparent;
}
.navbar-brand {
    color: red;
    font-size: 30px;
    font-weight: 400;
}

.navbar-default .navbar-brand
 {
    color: black;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a
{
    color: black;
    font-weight: 300;
    font-size: 18px
}

header
{

  text-align: center;
  background-image: url(/plat.jpg);
  height: 550px;
  background-size: cover;
  background-repeat:no-repeat;
  color: white;

  /*opacity: 0.8;*/
  filter: alpha(opacity=50);

}
img
{
  width: 100%!important;
}
h3.title_plat
{
  font: 700 2rem/2.4rem Chronicle,Times,Times New Roman,serif;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

h4.card-title

{
  font: 700 2rem/2.4rem Chronicle,Times,Times New Roman,serif;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    color: #2e426b;
}
#add_plat
{
  margin-top: 150px;
}
h2.slogan
{
  font-size: 50px;
  margin-top: 200px;
}
#card_plat
{
  border: 1px solid red;

  padding-left: 0px;
  padding-right: 0px;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-bottom: 20px;
}
.form-control
{
  margin-bottom: 20px;
}
.float-left
{
  float: left;
}
.float-right
{
  float: right;
}
/*page show */
h2.title_show
{
    padding-left: 15px;
    padding-right: 15px;
    color: #2e426b;
    font: 700 3rem/3.4rem Chronicle,Times,Times New Roman,serif;
}
